assert-exists==1.0.0
caller-module==1.0.0
cffi==1.11.5
comment==1.0.0
Django==1.11.11
django-crispy-forms==1.7.2
django-filter==1.1.0
django-markdown-deux==1.0.5
django-pagedown==1.0.4
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
form-designer==0.12.0
Markdown==2.6.11
markdown2==2.3.5
Pillow==5.0.0
public==1.0.0
pycparser==2.18
PyJWT==1.6.1
pytz==2018.3
xattr==0.9.3